
/* Macondo - Nice and fancy yet readable*/
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
/* Itim -good, round and cute */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
/* Delius Swash Caps - nice and swirly*/
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

:root {
    --dark-bg: #373737;
    --dark-txt: #9A7FB0;
}

.default-text{
    font-size: 1rem;
}

header, .bod, .stats{
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: var(--dark-bg);
    color: var(--dark-txt);
    margin: 0px 6rem;
    font-family: 'Itim', sans-serif;
    /* border: solid 0.2rem black; */
}

header{
    background-color: #373737;
    padding: 0.5rem;
    padding-bottom: 0px;
    justify-content: space-between;
    position: sticky;
    top: -20px;
}

.name{
    font-family: 'Macondo', sans-serif;
    font-size: 3rem;
    margin: 0.5rem;
    margin-bottom: -0.4rem;
    /* background-color: hsla(340, 57%, 64%, 50%);  */
}

#fl{
    font-size:4rem;
    position: relative;
    top: 0.5rem;
}

.species{
    font-size: 1.3rem;
    font-family: 'Delius Swash Caps', 'Sriracha', sans-serif;
    margin: 0.5rem;
    margin-top: 0px;
}

.class-lvl{
    font-size: 1.2rem;
    text-align: center;
}

.class-lvl h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.class-lvl h2{
    font-family: 'Delius Swash Caps', sans-serif;
    font-size: 1.2rem;
    padding-top: 0px;
    margin-top: 0px;;
}

#lv{
    padding: 0px 0.5rem;
    border: 0.2rem solid var(--dark-txt);
    border-radius: 50%;;
}

.bod{
    margin: 0.3rem;
    padding: 0.5rem;
    font-size: 1.3rem;
}

.charbox{
    flex: 0 1 auto;
    background-color: #1D2021;
    max-height: 530px;
    padding: 0.3rem;
    border-radius: 5%;
    box-shadow: -5px 5px 5px black;

    /* border: solid 2px aquamarine; */
}

.stats h1, .stats h2,.stats h3, points h2 {
    padding: 0px;
    margin: 0px;
}

.stats{
    flex: 1 0 auto;
    flex-direction: column;
    margin: 2rem;
    max-height: 500px;
    /* border: solid 2px palevioletred; */
}


#skills h2{
    padding: 0px;
    margin-top: 0.2rem;
    margin-bottom: 0px;
}

.hp h2{
    margin-top: -0.3rem;
}

.pro {
    color: #79C0AA;
}

#attributes, #saving-throws{
    padding-top: 0.5rem;
}

.table{
    background-color: #1D2021;
    padding: 0.5rem;
    border-radius: 1rem;
}

#inspo{
    background-color: #1D2021;
    border-radius: 1rem;
    margin-top: 1rem;
    max-width: fit-content;
    padding: 0.1rem;
}

td{
    text-align: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.small-text{
    font-size: 0.75rem;
    padding-right: 0.2rem;
}

#throws-attributes{
    display: flex;
}
#throws-attributes > *{
    padding-right: 3rem;
}

#proficiencies, #languages{
    font-size: 1.2rem;
}

#proficiencies h2, #languages h2{
    margin-bottom: 0.2rem;
}

#proficiencies li, #languages li{
    display: inline-block;
    padding-right: 1rem;
}

#proficiencies p{
    padding-left: 3rem;
}